extends ../layout

block content
	.container
		.row
			each cat in categories
				.panel.panel-default
					.panel-heading
						h3 #{cat.name}
					.panel-body
						if cat.movies && cat.movies.length > 0
							each item in cat.movies
								.col-md-2
									.thumbnail(style="height:354px")
										a(href="/movie/#{item._id}")
											img(src="#{item.poster}", alt="#{item.title}" style="width:150px; height:224px")
										.caption
											h4.text-center(style="display:block; height:38px") #{item.title}
											p.text-center: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片
								